XTerm*bellIsUrgent: true

XTerm*background: #000000
XTerm*foreground: #FFFFFF

XTerm*color0: #000000
XTerm*color1: #CD0000
XTerm*color2: #00CD00
XTerm*color3: #CDCD00
XTerm*color4: #1E90FF
XTerm*color5: #CD00CD
XTerm*color6: #00CDCD
XTerm*color7: #E5E5E5

XTerm*color8: #4C4C4C
XTerm*color9: #FF0000
XTerm*color10: #00FF00
XTerm*color11: #FFFF00
XTerm*color12: #4682B4
XTerm*color13: #FF00FF
XTerm*color14: #00FFFF
XTerm*color15: #FFFFFF

XTerm*font: xft:Ubuntu Mono:size=9,style=regular
XTerm*boldFont: xft:Ubuntu Mono:bold:size=9
XTerm*italicFont: xft:Ubuntu Mono:size=9
XTerm*boldItalicFont:  xft:Ubuntu Mono:bold:size=9
XTerm*intensityStyles: false

XTerm*keysym.Home: \033[1~
XTerm*keysym.End: \033[4~

XTerm*urgentOnBell: true

